.category-preview-container {
  margin: 10px;

  .products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 10px
  }

  .link-container {
    text-decoration: none;

    .title {
      font-size: 38px;
      margin: 10px;
      margin-bottom: 25px;
      color: black;
    }

    .title:hover {
      color: burlywood
    }
  }


}