img {
  width: 100px;
  text-align: center !important;
}


.centered-td {
  vertical-align: middle !important;
}

.remove-button {
  cursor: pointer;
  color: red;
}

.change-quantity {
  cursor: pointer;
}