// body {
//   display: flex;
//   flex-direction: column;
// }

.content {
  min-height: calc(100vh - 80px);
}


body {
  font-family: 'Orbitron';
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}